---
layout: default
---

<div id="content">
  <div class="wrap">
    
    <div id="post">
      <h1>{{ page.title }}</h1>
      <h6 id="author-date" class="meta">{{ page.author_name }} &mdash; {{ page.date | date_to_string }}</h6>
      {{ content }}
    </div>
    
    <p style="margin-top: 30px;">
      <a href="http://feeds.feedburner.com/RegardingWork" class="subscribe">subscribe</a>
      <a href="http://twitter.com/regardingwork" class="twitter-follow-button" data-show-count="false">Follow @regardingwork</a>
      <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>      
    </p>
    
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'regardingwork';
        var disqus_identifier = '{{ page.id }}';
        var disqus_url = 'http://regardingwork.com{{ page.url }}/';
        
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    
  </div>
</div>
<div id="footer">
  <div class="wrap">
    <p>
      <a href="/">Regarding Work</a> is a blog about productivity, collaboration
      and maximizing talent. It is written by
      <a href="http://ashfontana.com">Ash Fontana</a> and 
      <a href="http://ozanonay.com">Ozan Onay</a> based on their experiences
      in small and large companies in the industries of technology, law and 
      finance.
    </p>
    
    <a href="/">See all posts</a>
    
  </div>
</div>
